@import "tailwindcss";

@theme {
  --color-neon-cyan: #00f0ff;
  --color-neon-purple: #b026ff;
  --color-dark-bg: #09090b; 
  --color-dark-card: #18181b; 
}

@layer base {
  body {
    background-color: var(--color-dark-bg);
    color: white;
  }
}